@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");

body {
  padding: 0;
  margin: 0;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

pre {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  padding: 0;
  margin: 0;
  line-height: 1em;
  -webkit-text-fill-color: transparent;
  text-align: left;
  user-select: none;
  background-image: radial-gradient(circle, #ff6188 0%, #fc9867 50%, #ffd866 100%);
  background-attachment: fixed;
  -webkit-background-clip: text;
  mix-blend-mode: difference;
}
