@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  nav,
  header,
  footer,
  .print-hide {
    display: none !important;
  }

  body {
    background: white !important;
    color: black !important;
    margin: 0;
    padding: 0;
  }

  @page {
    margin: 2cm;
    size: A4;
  }
} 