.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.hello-world {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
  line-height: 1.15;
  text-align: center;
}
